<a href="https://colab.research.google.com/github/SultanShamshad/CE880_LabCourseWork/blob/main/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello world program

In [1]:
print("Hello World")

Hello World

First program

In [2]:
if 10 > 8:
  print("Ten is greater than eight!")

Ten is greater than eight!

Program to add numbers

In [3]:
num1 = 1.5
num2 = 6.3

sum = num1 + num2

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 1.5 and 6.3 is 7.8

Now taking input from user

In [4]:
# Store input numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 12
Enter second number: 13
The sum of 12 and 13 is 25.0

Now applying formula

In [5]:
num = 9

# To take the input from the user
#num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 9.000 is 3.000

Calculate area of triangle

In [8]:
h1 = 6
b2 = 10
a1=(h1*b2)/2
print('the area of triangle is'.format(a1))

the area of triangle is

Now use of /

In [9]:
if 100 > 99 and \
    200 <= 300 and \
    True != False:
        print('Hello World!')

Hello World!

Variables

In [10]:
x = 2
y = 5
xy = 'Hello'

print(x+y, xy)

7 Hello

Same value to multiple variables

In [11]:
x = y = 1
print(x,y)

1 1

Arithmatic operators

In [12]:
#Addition
a = 1 + 3
print(a)

#Substraction
b = 10 - 4
print(b)

#Multiplication
c = a * b
print(c)

#Division
d = c/2
print(d)

#Modulo

e = 15%10
print(e)

#Floor division
f = 2.8//2.0
print(f)

4
6
24
12.0
5
1.0

Relational operators

In [14]:
a = 1
b = 10
a==b

False

In [15]:
a = 1
b = 10
a!=b

True

Use of quotation

In [16]:
print('H')
print("Hello World")
print("""I am from Essex.
I love Python.""")

H
Hello World
I am from Essex.
I love Python.

In [17]:
string1 = "World"
print("Hello", string1)

string2 = '!'
print("Hello", string1, string2)

Hello World
Hello World !

In [18]:
print("Hello %s" % string1)

Hello World

In [19]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

Actual Number = 18
Float of the number = 18.000000

In [20]:
print("Hello %s %s" %(string1,string2))

Hello World !

Data Types in Python

In [21]:
x = 20
type(x)

int

Class

In [22]:
x = "Hello Essex"
print(type(x))

<class 'str'>

In [23]:
x = 100
print(type(x))

<class 'int'>

In [24]:
x = 100.5
print(type(x))

<class 'float'>

In [25]:
x = 1j
print(type(x))

<class 'complex'>

In [26]:
x = ["I", "Love", "Essex"]
print(type(x))

<class 'list'>

In [27]:
x = ("I", "Love", "Data Science")
print(type(x))

<class 'tuple'>

In [28]:
x = range(10)
print(type(x))

<class 'range'>

In [29]:
x = {"name" : "Haider", "age" : 36}
print(type(x))

<class 'dict'>

In [30]:
x = {"BWM", "Audi", "Honda"}
print(type(x))

<class 'set'>

In [31]:
x = frozenset({"England", "Wale", "Scotland", "Northern Ireland"})
print(type(x))

<class 'frozenset'>

In [32]:
x = True
print(type(x))

<class 'bool'>

In [33]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [34]:
x = bytearray(3)
print(type(x))

<class 'bytearray'>

In [35]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

Conversion of Data type

In [36]:
#Setting x to string
x = str("Hello Essex")

#setting x to integer
x = int(20)

#setting x to float
x = float(20.5)

#setting x to list
x = list(("apple", "banana", "cherry"))

If Eslse condition in Python

In [37]:
a = 10
b = 10
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [38]:
a = 30
b = 10
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [39]:
a = 30
b = 10
c = 70
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [40]:
x = 55

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

Loops in Python

In [41]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [45]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [42]:
cars = ["bmw", "audi", "honda"]
for x in cars:
  print(x)

bmw
audi
honda

In [43]:
for x in "bmw":
  print(x)

b
m
w

In [44]:
cars = ["bmw", "audi", "honda"]
for x in cars:
  print(x)
  if x == "audi":
    break

bmw
audi

Functions in Python

In [46]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [47]:
for x in range(4, 10):
  print(x)

4
5
6
7
8
9

Function Creation and calling

In [48]:
def my_function():
  print("Hello, this is my first function")

In [49]:
my_function()

Hello, this is my first function

Parameters and arguments

In [50]:
def my_function(car_model):
  print("BMW " + car_model)

my_function("520d")
my_function("320i")
my_function("320d")

BMW 520d
BMW 320i
BMW 320d

In [51]:
def my_function(car_name, car_model):
  print(car_name + " " + car_model)

my_function("Tesla", "Model X")

Tesla Model X

In [52]:
def my_function(*cars):
  print("In BMW, I like " + cars[2])

my_function("X7", "X3", "X1")

In BMW, I like X1

DEfault parameters

In [53]:
def my_function(car = "Tesla"):
  print("My favroite car is " + car)

my_function("BMW")
my_function("Audi")
my_function()
my_function("Honda")

My favroite car is BMW
My favroite car is Audi
My favroite car is Tesla
My favroite car is Honda

List as argument

In [54]:
def my_function(cars):
  for x in cars:
    print(x)

fruits = ["bmw", "audi", "honda"]

my_function(fruits)

bmw
audi
honda

Function return values

In [55]:
def my_function(x):
  return 5 * x

print(my_function(10))
print(my_function(20))
print(my_function(30))

50
100
150